<template>
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Point Of Sales System</h1>
                  </div>
                  <form class="user" @submit.prevent="login">
                    <div class="form-group">
                      <input type="text" class="form-control" v-model="form.name" placeholder="Enter Your Username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" v-model="form.password" placeholder="Enter Your Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small" style="line-height: 1.5rem;">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember
                          Me</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                  </form>
                  <hr>
                  <div class="text-center">
                    <router-link to="/register" class="font-weight-bold small">Create an Account!</router-link><br>
                    <router-link to="/forget" class="font-weight-bold small">Forget Password?</router-link>
                  </div>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script type="text/javascript">
  export default {

    created(){
      if(User.loggedIn()) {
        this.$router.push({ name: 'home' })
      }
    },
    data(){
      return {
        form:{
          name: null,
          password: null
        }
      }
    },
    methods:{
      login(){
        axios.post('/api/auth/login', this.form)
        .then(res => {
          User.responseAfterLogin(res)

          Toast.fire({
            icon: 'success',
            title: 'Signed in successfully'
          })

          this.$router.push({ name: 'home' })
        })
        .catch(error => this.errors = error.response.data.errors)
        .catch(

            Toast.fire({
              icon: 'warning',
              title: 'Invalid Email Or Password'
            })

        )
      }
    }
  }
</script>

<style type="text/css">

</style>