<template>
     <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Register Account</h1>
                  </div>
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter Your Username">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control"  placeholder="Enter Your Fullname">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control"  aria-describedby="emailHelp"
                        placeholder="Enter Your Email Address">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control"  placeholder="Enter Your Password">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Confirm Your Password">
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                  </form>
                  <hr>
                  <div class="text-center">
                    <router-link to="/" class="font-weight-bold small">Already have an account?</router-link>
                  </div>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script type="text/javascript">

</script>

<style type="tetx/css">

</style>